<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xmlns:p="http://www.springframework.org/schema/p"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="
		http://www.springframework.org/schema/beans
		http://www.springframework.org/schema/beans/spring-beans-4.3.xsd
		http://www.springframework.org/schema/context
		http://www.springframework.org/schema/context/spring-context-4.3.xsd
		http://www.springframework.org/schema/tx
		http://www.springframework.org/schema/tx/spring-tx-4.3.xsd">
		
	<context:annotation-config />
	<context:component-scan base-package="com.wss.*" />

	<bean id="configProperties"
		class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
		<property name="location" value="classpath:config/jdbc.properties" />
	</bean> 

	<bean id="parentDataSource"
		class="org.springframework.jdbc.datasource.DriverManagerDataSource">
	
	</bean>
	
	<bean id="mySqlDataSource" parent="parentDataSource">  
		<property name="driverClassName" value="${jdbc.driverClassName}"/>
		<property name="url" value="${jdbc.url}"/>
		<property name="username" value="${jdbc.username}"/>
		<property name="password" value="${jdbc.password}"/>
	</bean>
	
	<bean id="logDataSource" parent="parentDataSource">  
		<property name="driverClassName" value="${jdbc.logDriver}"/>
		<property name="url" value="${jdbc.logUrl}"/>
		<property name="username" value="${jdbc.logUsername}"/>
		<property name="password" value="${jdbc.logPassword}"/>
	</bean>
		
	<bean id="oracleDataSource" parent="parentDataSource">  
	    <property name="driverClassName" value="oracle.jdbc.driver.OracleDriver"></property>  
	    <property name="url" value="${jdbc.oracleUrl}"></property>  
	    <property name="username" value="scmsit"></property>  
	    <property name="password" value="pdssit321"></property>  
	</bean>  
	  
	<bean id="dataSource" class="com.wss.common.dataSource.DbContextHolder">  
	    <property name="targetDataSources">  
	        <map key-type="java.lang.String">  
	            <entry value-ref="logDataSource" key="mysqlLog"></entry>  
	            <entry value-ref="mySqlDataSource" key="mysql"></entry>  
            	<entry value-ref="oracleDataSource" key="oracle"></entry>  
	        </map>  
	    </property>  
	    <property name="defaultTargetDataSource" ref="mySqlDataSource"></property>  
	</bean>  


	<bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
		<property name="dataSource" ref="dataSource"></property>
		<property name="configLocation" value="classpath:config/mybatis-config.xml" /> 
		<property name="mapperLocations" value="classpath:com/wss/dao/**/*.xml" /> 
	</bean>

	<bean id="sqlSessionTemplateBatch" class="org.mybatis.spring.SqlSessionTemplate" scope="prototype">     
		<constructor-arg index="0" ref="sqlSessionFactory" />  
		<constructor-arg index="1" value="BATCH"/>  
	</bean> 

	<bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
		<property name="basePackage" value="com.wss.dao"></property>
		<property name="sqlSessionTemplateBeanName" value="sqlSessionTemplateBatch"></property>
	</bean>

	<bean id="txManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
		<property name="dataSource" ref="dataSource"></property>
	</bean>

	<tx:annotation-driven transaction-manager="txManager" />
	
</beans>
